@charset "utf-8";

//
// ボタン用スタイル
//
// クラス名：.p-rating-xxx

// --------------------------------------------------
// ○○○
// --------------------------------------------------
.p-rating-list {
  lost-center: 980px;
}
.p-rating-list-item {
  padding: 13px 0;
  width: 100%;
  @media (min-width:$screen-md-min ) {
    lost-column: 1/3;    
  }
}
.p-rating-list-input {
  
}